:root {
    --color-primary-dark: #4e5f2e;
    --color-primary-light: #faf4ea;
    --color-brand: #819b57;
    --color-brand-dark: #638730;

}
/*Base*/
/*body {
     color: var(--color-primary-dark);
}*/
ul {
    list-style-type: none;
}
/*Title*/
.main-title {
    color: var(--color-primary-light);   
}
.main-title .accent {
    color: var(--color-primary-dark);
}
[type] {
    border: solid 2px green
}
/* .section1 {color: red;} */
/*Button*/
.button {
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
    }

.button:focus {
    background-color: aqua}

.button :active {
    background: #2c687f;
}
.navigation:hover {
    background-color: chocolate;
}
/*Link*/
.link {
    color: var(--color-primary-light);
}
.link:hover{
    color: var(--color-primary-dark);
}

/*Adventages list*/
.adventages-list {
    background-color:var(--color-primary-dark);
    color: var(--color-primary-light);
}
/*Title section*/
.section-title .accent {
    color: var(--color-brand-dark);
    
}