:root {
    --color-primary-dark: #4e5f2e;
    --color-primary-light: #8f764b;
    --color-brand: #819b57;
    --color-brand-dark: #638730;
    --color-brand-light: #a9c17b;

}
/*Base*/
body {
    color: var(--color-primary-light);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
/*Title*/
.main-title {
    color: var(--color-primary-light);
    text-align: center;
    text-transform: none;
    font-size: 128px;
    font-weight: 900;
    
}
.main-title .accent {
    color: var(--color-primary-dark);
    
}
[type] {
    border: solid 2px green
}
/* .section1 {color: red;} */
/*Button*/
.button {
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;

    }

.button:focus {
    background-color: aqua}

.button :active {
    background: #2c687f;
}
.navigation:hover {
    background-color: chocolate;
}
/*Link*/
.link {
    color: var(--color-primary-light);
    line-height: 1.5;
    text-decoration: none;
    
}
.link:hover{
    color: var(--color-brand-light);
    font-weight: 600;
}

/*Adventages list*/
.adventages-list {
    background-color:var(--color-primary-dark);
    color: var(--color-primary-light);
}
.adventages-item {
    font-size: 20px;
    font-weight: 300;
}
/*Title section*/
.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;

}   
.section-title .accent {
    color: var(--color-brand-dark);
    
}
/*Bekers section*/
.bekers-title {
    font-size: 40px;
    font-weight: 600;
}
/*Formats-section*/
.formats-title {
    font-size: 24px;
    font-weight: 600;
}
/*Traditions section*/
.tradicions-text .brand {
    color: var(--color-brand);
    text-transform: none;
    font-weight: 600;
}

.tradicions-text .brand.uppercase {
    text-transform: uppercase;
}